*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#container{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color:#fff ;
    height: 100vh;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    background:url('images/movie-poster.jpg') no-repeat ;
    background-size: cover;
    background-position: left;
    height: 25vh;
    padding: 40px 3rem;
    align-items: center;
    background-color:  #121212;
    background-blend-mode:soft-light;
    margin-bottom: -2vh;
}
header h1{
    font-size: 3rem;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#input-container{
    display: flex;
    justify-content: center;
    height: 40px;
    
}
svg{
    height: 40px;
    width:40px;
}
#input-container svg{
    border-radius: 10px 0 0 10px;
}
#input-data{
    background-color: #1c1c1c;
    border: none;
    color: #fff;
    text-transform: capitalize;
    padding: 0 15px;
}
#input-data:focus{
    outline: none;
    
}

#search-btn{
    padding: 0 15px;

    background-color: #4B4B4B;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: none;
}
#search-btn:hover{
    background-color: #323232;
    color: #fff;
    transition: all .4s ease-out;

}
#search-btn:focus{
}
#search-btn:active{
    transform:scale(.98)
}

#exploring-icon{
    
    text-align: center;
    position: absolute;
    top:50vh;
    left: 45%;
    
}

#exploring-icon svg{
    width: 80px;
    height: 80px;
}

#unable-icon,#empty-icon{
    
    color: #787878;
    position: absolute;
    top:60vh;
    left: 35%;
    text-align: center;
    /* display: none; */
}

#add-from-watchlist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#add-from-watchlist svg{
    width: 30px;
    height: 30px;
    
}

@media screen and (max-width:500px) {
    
    header{
        flex-direction: column;
        justify-content: center;
        
    }
    header h1{
        font-size: 2.5rem;
        margin: 10px auto;
    }
    header a{
        font-size: .9rem;
    }
    /* #input-container{
        flex-direction: column;
    } */
}