*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color :#000;
    --text-color:#fff;
    --icon-bg:#626262;
    --main-bg:#1F2937;

}
.light{
    --bg-color :#fff;
    --text-color:#000;
    --icon-bg: #000000;
    --main-bg:#fff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#scheme-container{
    border: 2px solid var(--text-color);
    width: 95%;
    background-color: var(--main-bg);
    margin: 40px auto;
    max-width: 500px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 20px var(--text-color);
}

#color-setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
#color-picker{    
    border: none;
    outline: none;
    max-width: 100%;
    border-radius: 5px;    
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 2px 0px; 
}

#icon{
    width: 100%;
    max-width: 28px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: 4px;
    background-color:var(--icon-bg)
}

button,select{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--icon-bg);
    padding: 5px 8px;
    border-radius: 5px;
}