*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color :#000;
    --text-color:#fff;

}
.light{
    --bg-color :#fff;
    --text-color:#000;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}