*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: yellow;
    font-weight: 700;
    padding: 10px;
    font-size: 1.42rem;
    border: none;
    transition: all .4s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(159, 159, 6);
}
button:active{
    transform: scale(.97);
}
#new-deck{
    align-self: flex-start;
}
#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    margin: 5px;
    width: 50%;
    max-width: 300px;
}