#container{
  border: 10px solid #5ac7e1;
  width: 80%;
  max-width: 560px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  color: white;
  background-color: #272d34;  
  animation: start .7s ease-in ;


}

@keyframes start {
  0%{
    transform: scale(.75);
  }  
  100%{
    transform: scale(1);
  }
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background-color: #21222b;
  padding: 0 10px;
  
    
  
}
.nav-logo{
  
  display: flex;
  align-items: center;
  color: #5ac7e1;
}
.nav-logo h2{
  margin-left: 5px;
  display: inline-block;
}
.nav-title{
  cursor: pointer;
}




.nav-title::after{
  content: "";
  width: 0%;
  height: 1px;
  background-color: #5ac7e1;
  display: block;
  margin-top: -10px;
  transition: all .8s;
}
.nav-title:hover::after{
  content: "";
  width: 100%;
  
}


main{
  
  margin-left: 20px;
  background-image: url('./assets/react-icon-large.png');
  background-repeat: no-repeat;
  background-position: right;
  
}

li{
  font-size: 1.2rem;
  margin-bottom: 10px;
  list-style-type: none;  
  padding-left: 10px;
  margin-left: -10px;
  
}


li::marker{
  content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5ac7e1; 
  font-size: 1.8rem;  
}


footer{
  
  background-color: grey;
  text-align: center;
  padding: 10px; 
}