#container{
  border: 5px solid cadetblue;
  margin: 20px 50px;
  box-shadow: 0 0 20px grey;
  color: white;

  background-color: #272d34;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px grey;
  background-color: #21222b;
  padding: 0 10px;
}
.nav-logo{
  display: flex;
  align-items: center;
  color: #5ac7e1;
}
.nav-logo h2{
  margin-left: 5px;
  display: inline-block;
}


.nav-title::after{
  content: "";
  width: 0%;
  height: 1px;
  background-color: #5ac7e1;
  display: block;
  margin-top: -10px;
  transition: all .8s;
}
.nav-title:hover::after{
  content: "";
  width: 100%;
  
}



main{
  
  margin: 10px;

}

li{
  font-size: 1.1rem;
  margin-bottom: 10px;
  list-style-type: none;
  
}
li::before {
  content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5ac7e1; 
  font-weight: 900; 
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 15px;
  margin-left: -20px;
}


footer{
  
  background-color: grey;
  text-align: center;
  padding: 10px; 

}