*{
    margin: 0;
    box-sizing: border-box;
}

h1,h2,p{
    margin: 0;
}
body{
    background-color: whitesmoke;
    font-size: 1.125rem;
    
    color:#707070;
    animation: change .5s ease-out;
}

@keyframes change {
    0%{
        transform: scale(.98);
    }
    100%{
        transform: scale(1);
        
    }
    
}
h1{
    text-align: center;
    font-size:3rem;
}
h2{
    font-size:1.8rem;
}
p{
    font-size: 1.2rem;
}
p+p{

    margin: 10px auto ;
    
}
img{
    display: block;
    width: 100%;
    margin: 1em auto;
}
span{
    color:#b7832F;
}
.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.columns{
    display: flex;
    gap:20px;
    padding:10px;
    font-size: 1.1rem;
    justify-content: space-evenly;
}

.columns:first-child{
    flex-direction: column;

}
.col:last-child{
    background-color: #312614;
    padding: 20px 15px;
    color: white;
    font-size: 1.4rem;
    
}
.col-1{
    width: 25%;
    
}
.col-2{
    width: 50%;
    
}
.col-3{
    width: 75%;
    
}
.col-title{
    margin: 15px auto;
    font-size: 1.5rem;
}

@media screen and (max-width:680px) {

    .columns{
        flex-direction: column;
        transition: .72s;
    }
    
    .col-1,.col-2,.col-3{
        width: unset;
    }
    
}