*{
     margin: 0;
     box-sizing: border-box;
     font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,li,img{
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    background-color: #f5f4f8;
    text-align: center;
    
    padding: 40px 20px;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
h1{
    font-family:'Lora', serif ;
    font-size: 2rem;
    color:#143774;
    font-weight: 400;
}
img{
    box-shadow: 0 0 5px gray;
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
.subtitle{
    font-weight: 700;
    font-size: .9rem;
    color: #1792D2;
    text-transform:uppercase;
    margin: 0 auto;
}

ul{
    margin: 15px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
li{
    margin-top: 1em;
}
.link{
    color: #707070;
    font-weight: bold;
    font-size: 1rem;
    text-transform:uppercase;
}


.link:hover,
.link:focus{
    color:#1792d2;
    text-shadow: 0 0 15px #1792D2;
}
.active-link{
    position: relative;
    text-shadow: 0 0px 15px red;
}

.active-link::after{
    content: "";
    display: block;
    width:100%;
    height: 3px;
    background-color: #707070;
    position: absolute;
    top:16px;
    left:0px;
    transition: all .5s;
}
.active-link:hover::after{
    width: 0;
    transition: all .5s;
}
.main,aside{
    margin: 40px auto;
}
.main-img{
    height: 400px;
    width: 100%;
    object-fit: cover;

}
.date{
    margin: 10px 0;
    opacity: .7;
    color: #707070;
    font-size: .71rem;
    text-transform:uppercase;
}
.current-post{
    border-bottom: 2px solid;
}
.post-title{
    font-family:'Lora', serif ;
    font-size: 1.8rem;
    color:#143774;
    font-weight: 400;
}
.post-text{
    color: #707070;
    opacity: .9;
    margin: 15px auto;
}
.older-posts{
    margin: 25px auto;
}
.post-text span{
    color: #707070;
    font-weight: bold;
    font-size: 1rem;
}
.post-link{
    font-size: .9rem;
    color: #1792D2;
    text-decoration: underline;
}
.continue,h2{
    font-size: .9rem;
    text-transform: uppercase;
    margin: 10px auto;
    color: #1792D2;
    cursor: pointer;
}

.post{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    flex-direction: column;
}
.post-detail{
    order: 2;
}

.aside-posts,.about-me{
    border: 15px solid #dcdada;
    margin: 0px auto 30px;
    padding: 10px 25px;
}

.aside-img,.post-img{
    margin: 10px auto;
}
.aside-post{
    border-bottom: 1px solid;
    margin-bottom: 1em;
}
.aside-post:last-child{
    margin: 0;
    border: none;
}

footer{
    padding: 50px;
    text-align: center;
    background-color: #143774;
    color: #1792D2;
}


@media screen and (min-width:600px) {
    .list-item{
        margin: 0 15px;
    }
    ul{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main-img{
        height: unset;
    }
    
}
@media screen and (min-width:900px) {
    .container-flex{
        flex-direction: row;
        gap: 40px;
    }
    .post{
        flex-direction: row;
    }
    .post-image-date{
        width: 20%;
    }
    .post-detail{
        width: 75%;
    }
    
    .post-img{
        border-radius: 10px;
        width: 100%;
        height: 200px;
        object-fit:cover;
        /* object-position: left; */
        
    }
    .current-post{
        border: none;
    }
}

