*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:"Poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -------------------- Navbar */
nav{
  padding: 10px 20px;
  box-shadow: 0 1px 8px black;
}
#nav-logo{
  width: 100%;
  max-width: 10%;
}

/* -------------------- Hero */
.hero{
  padding: 40px;
}
#main-img{
  display: block;
  margin: auto;
  width: 700px;
  max-width: 100%;
}

.hero h1{
  font-weight: 900;
  margin: 15px auto 5px;
  font-size: 2rem;
  
}
.hero p{
  font-size: larger;
  max-width: 320px;
}

/* -------------------- Card */

.card{
  
  display:inline-block;
  padding: 10px 30px;
}
.card-img{
  position: relative;
}
.card-img img{
  border-radius: 16px;
  width: 280px;
  max-width: 100%;
}
.availablity{
  padding: 3px 5px;
  border-radius: 8px;
  background-color: white;
  color: black;
  position: absolute;
  top:5px;
  left: 10px;

}
.rating{
  display: flex;
  align-items: center;
}
.rating span{
  margin-left: 7px;
}
.rated-by, .country{
  color: rgb(175, 176, 176);
}
.card p{
  margin-top: 5px;
}
.price{
  font-weight: 900;
}



@media screen and (max-width:500px) {
  
  .hero h1{
    font-size: 1.4rem;
  }
  .hero p{
    font-size: smaller;
  }
}