

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:Poppins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
  padding: 10px 20px;
  box-shadow: 0 1px 5px 0px black;
}
#nav-logo{
  width: 100%;
  max-width: 20%;
}
.hero{
  padding: 40px;
}
#main-img{
  display: block;
  margin: auto;
  width: 700px;
  max-width: 100%;
}

.hero h1{
  font-weight: 900;
  margin: 15px auto 5px;
  font-size: 2rem;
  
}
.hero p{
  font-size: larger;
  max-width: 320px;
}


@media screen and (max-width:500px) {
  
  .hero h1{
    font-size: 1.4rem;
  }
  .hero p{
    font-size: smaller;
  }
}