*{
    margin: 0;
    box-sizing: border-box;
}

#container{
    max-width: 400px;
    background-color: #1A1B21;
    margin: 30px auto;
    border-radius: 10px;
    color: white;
}

header{
    
    text-align: center;
}
header p{
    margin: 2px auto;
    text-decoration: underline wavy rgb(114, 111, 111);
}
a{
    color: white;
    text-decoration: none;
    margin: 10px auto;
    display: block;
}

#top{
    padding: 20px;
}
#email{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
    width: 280px;
    
}
#email span{
    margin-left: 5px;
    color: black;
    
}

img{

}


/* ---------------------------- Main  */


