*{
    margin: 0;
    box-sizing: border-box;
}

#container{
    max-width: 400px;
    background-color: #333542;
    margin: 30px auto;
    border-radius: 10px;
    color: white;
}

header{
    
    text-align: center;
}
header p{
    margin: 2px auto;
    text-decoration: underline wavy rgb(214, 213, 215);
}
header a{
    color: white;
    text-decoration: none;
    margin: 10px auto;
    display: block;
}

#top{
    padding: 20px;
}
#email{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
    width: 280px;
    
}
#email span{
    margin-left: 5px;
    color: black;
    
}

img{

}


/* ---------------------------- Main  */



/* ----------------------------- Footer */

footer{
    background-color: #232323;
    /* background-color: #0808fd; */
    padding: 12px 0 12px ;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
}
