*{
    margin: 0;
    box-sizing: border-box;
}


#container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid red;
    max-width: 600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #F55A5A;
    align-items: center;
    padding: 10px 0;
}

nav h3{
    margin-left: 5px;
    font-size: 1.4rem;
}

img{
    width: 200px;
    max-width: 100%;
}