*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    height: 100vh;
}

h2{
    margin: 5px auto;
}
button{
    background-color: yellow;
    font-weight: 700;
    padding: 10px;
    font-size: 1.42rem;
    border: none;
    transition: all .4s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(159, 159, 6);
}
button:active{
    transform: scale(.97);
}
button:disabled{
    cursor:not-allowed;
    transform: scale(1);
}
img{
    width: 100%;
}
#new-deck{
    align-self: flex-start;
    margin-right: 20px;
    
}
header{
    display: flex;
    align-items: center;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#card1,#card2{
    margin: 12px auto;
}
#card1{
    margin-bottom: 25px;
}
.card-img{
    border: 1px solid ;
    width: 97px;
    height: calc(96px * 7/5);
    margin: 5px auto;
    border-radius: 6px;
}


#draw-card{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}