*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main:rgb(30, 30, 30);
    --secondary:rgb(236, 236, 236);  
}

.theme{
    --main:rgb(236, 236, 236);    
    --secondary:  rgb(30, 30, 30);
}


body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary);
}

button ,input{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#container{
    width: 98%;
    max-width: 550px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--main);
}


header{
    display: flex;
    background: linear-gradient(90deg, #672280 10.18%, #A626D3 100%);
    /* justify-content: space-between; */
    padding: 20px;
    align-items: center;
}
header img{
    width: 100%;
    max-width: 65px;
    object-fit: cover;
    display: block;
}

header h1{
    margin-left: 7px;
    text-shadow: 1px 1px 1px rgb(157, 139, 139);
}

header button{
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    background-color: var(--secondary);
    color: var(--main);
    font-weight: bold;
    font-size: 1.1rem;
}


/* ------------------------------------------- Meme Section */

main{
    padding: 15px;
}
.form{
    flex-wrap: wrap;
    display: flex;
}
.form input {
    margin-bottom: 15px;
    width: 47%;
}
.form input + input{
    margin-left: auto;
}
.form button{
    width: 100%;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}
.form button:active {
    transform: scale(.98);
    background: linear-gradient(90.41deg, #511565 1.14%, #480a5c 100%);

}
.form button , .form input{

    border-radius: 5px;
    font-size: 1.2rem;
    padding: 8px;

}

.meme img{
    margin-top: 15px;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    /* height: 59vh; */
}

.meme{
    position: relative;
}
.meme--text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 20px auto 10px;
    text-align: center;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

}
.meme .top{
    top:0px;
}

.meme .bottom{
    bottom: 0px;
}